{
  "swagger": "2.0",
  "info": {
    "description": "Chess REST API.",
    "version": "1.0.0",
    "title": "Chess REST API",
    "contact": {
      "email": "info@programarivm.com"
    }
  },
  "host": "pchess.net",
  "basePath": "/api",
  "tags": [
    {
      "name": "Chess API"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/grandmaster": {
      "post": {
        "tags": [
          "Chess API"
        ],
        "summary": "Given a movetext, returns the PGN move that would follow according to a grandmaster.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "PGN movetext",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GrandmasterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/opening": {
      "post": {
        "tags": [
          "Chess API"
        ],
        "summary": "Given a set of parameters, returns chess opening data.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpeningRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/play": {
      "post": {
        "tags": [
          "Chess API"
        ],
        "summary": "Allows to play a game.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "definitions": {
    "GrandmasterRequest": {
      "type": "object",
      "properties": {
        "movetext": {
          "type": "string"
        }
      }
    },
    "OpeningRequest": {
      "type": "object",
      "properties": {
        "eco": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "movetext": {
          "type": "string"
        }
      }
    },
    "PlayRequest": {
      "type": "object",
      "properties": {
        "movetext": {
          "type": "string"
        }
      }
    }
  }
}