openapi: 3.0.1
info:
  title: Chess REST API
  description: Chess REST API.
  contact:
    email: info@programarivm.com
  version: 1.0.0
servers:
- url: https://pchess.net/api
tags:
- name: Chess API
paths:
  /download_image:
    post:
      tags:
      - Chess API
      summary: Downloads an image given a FEN string and a chess variant.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadImageRequest'
            examples:
              200 OK:
                value:
                  fen: "r1bq1rk1/pppnn1bp/3p2p1/3Ppp2/2P1P3/2N2P2/PP2B1PP/R1BQNRK1 w - f6"
                  variant: "classical"
        required: true
      responses:
        200:
          description: OK
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/DownloadImageResponse'
  /download_mp4:
    post:
      tags:
      - Chess API
      summary: Downloads a video given a PGN movetext and a chess variant.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadMp4Request'
            examples:
              200 OK:
                value:
                  movetext: "1.d4 Nf6 2.c4 g6 3.Nc3 Bg7 4.e4 d6"
                  variant: "classical"
        required: true
      responses:
        200:
          description: OK
          content:
            video/mp4:
              schema:
                $ref: '#/components/schemas/DownloadMp4Response'
  /grandmaster:
    post:
      tags:
      - Chess API
      summary: Returns a chess game played by a random titled player given a movetext.
      requestBody:
        description: PGN movetext
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrandmasterRequest'
            examples:
              200 OK:
                value:
                  movetext: "1.e4 c6 2.Nc3"
              204 No Content:
                value:
                  movetext: "1.a3 a6 2.a4"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrandmasterResponse'
              examples:
                200 OK:
                  value:
                    [
                      {
                        "id": 157019,
                        "Event": "38th Olympiad",
                        "Site": "Dresden GER",
                        "Date": "2008.11.22",
                        "White": "Can,E",
                        "Black": "Nielsen,PH",
                        "Result": "1\/2-1\/2",
                        "WhiteElo": "2464",
                        "BlackElo": "2662",
                        "ECO": "B11",
                        "FEN": null,
                        "movetext": "1.e4 c6 2.Nc3 d5 3.Nf3 Bg4 4.h3 Bxf3 5.Qxf3 e6 6.d4 dxe4 7.Nxe4 Qxd4 8.Bd3 Nd7 9.Be3 Qd5 10.O-O Ne5 11.Qg3 Nxd3 12.cxd3 Nf6 13.Bg5 Be7 14.Bxf6 Bxf6 15.Qc7 Qd7 16.Nd6+ Ke7 17.Nf5+ Ke8 18.Nd6+ Ke7 19.Nf5+ Ke8"
                      }
                    ]
        204:
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrandmasterResponse'
              examples:
                204 No Content:
                  value: null
  /play_pgn:
    post:
      tags:
      - Chess API
      summary: Allows to play a chess game in PGN format.
      requestBody:
        description: Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayRequest'
            examples:
              200 OK, 960:
                value:
                  movetext: "1.e4 e5"
                  variant: "960"
                  startPos: "RQKBBNNR"
              200 OK, classical:
                value:
                  movetext: "1.e4 e5"
                  variant: "classical"
              200 OK, capablanca80:
                value:
                  movetext: "1.e4 e5"
                  variant: "capablanca80"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayResponse'
              examples:
                200 OK, 960:
                  value: {
                    "fen": "rqkbbnnr\/pppp1ppp\/8\/4p3\/4P3\/8\/PPPP1PPP\/RQKBBNNR w KQkq e6",
                    "isCheck": false,
                    "isMate": false,
                    "movetext": "1.e4 e5"
                  }
                200 OK, classical:
                  value: {
                    "fen": "rnbqkbnr\/pppp1ppp\/8\/4p3\/4P3\/8\/PPPP1PPP\/RNBQKBNR w KQkq e6",
                    "isCheck": false,
                    "isMate": false,
                    "movetext": "1.e4 e5"
                  }
                200 OK, capablanca80:
                  value: {
                    "fen": "rnabqkbcnr\/pppp1ppppp\/10\/4p5\/4P5\/10\/PPPP1PPPPP\/RNABQKBCNR w KQkq e6",
                    "isCheck": false,
                    "isMate": false,
                    "movetext": "1.e4 e5"
                  }
components:
  schemas:
    DownloadImageRequest:
      type: object
      properties:
        fen:
          type: string
        variant:
          type: string
    DownloadImageResponse:
      type: string
      format: binary
    DownloadMp4Request:
      type: object
      properties:
        movetext:
          type: string
        variant:
          type: string
    DownloadMp4Response:
      type: string
      format: binary
    GrandmasterRequest:
      type: object
      properties:
        movetext:
          type: string
    GrandmasterResponse:
      type: array
    PlayRequest:
      type: object
      properties:
        movetext:
          type: string
        variant:
            type: string
        startPos:
            type: string
    PlayResponse:
      type: object
      properties:
        fen:
          type: string
        isCheck:
          type: boolean
        isMate:
          type: boolean
        movetext:
          type: string
